body {
    margin-top:80px;
    background-image:url( "/stylesheets/days1.png");

}

p {
    font-family:Helvetica Neue,sans-serif;
}



.jumbotron {
    width:48em;
    background-color:#ffffff;
    box-shadow:1px 1px 3px 4px #321113;
    witdth:40%;
    margin:auto;
    border-radius:4px;
}

.ntaskform {
    width:60%;
    padding:8px;
    background-color:#ffffff;
    border-radius:4px;
    margin:auto;
}
.tasks {
    padding:8px;
    /* border-radius:4px; */
    width:44em;
    /* background-color:#ffffff; */
    margin:auto;
    /* box-shadow:1px 1px 3px 4px #321113; */

}
.singletask {
    padding:12px;
    width:40rem;
    margin:auto;
    margin-top:6px;
    text-align:center;
    box-shadow:1px 1px 3px 4px;
    background-color:#ffffff;
    border-radius:4px;
    border-color:1px solid #321113;
}
.header {
    text-align:center;
    color:#e8e8e8;
}
.ntaskbutton {
    width:110px;
    margin:0px auto;
    padding:12px;
}

.tsummary {
    width:110px;
    margin:auto;
    padding:8px;
    text-align:center;
    color:purple;
    font-weight:bold;
}
.bttn{
    width:110px;
    color:#e2e2e2;
    background-color:#333333;
    border-color:#292929;
    border-radius:4px;
}

.bttn:hover, .bttn:focus, .bttn:active, .bttn.active, {
color: #e2e2e2;
background-color: #424242;
border-color: #393939;
border-radius:4px;

}