<div class="edtask" ng-controller="TaskCtrl" ng-show="showedit">
    <form  name="editform" role="form" ng-submit="update(task)">
    <div class="form-group">
      <input name="editsummary" class="form-control" ng-model="task.summary" type="text"/>
    </div>
    <div class="form-group">
      <textarea class="form-control" cols="30"  name="editcontent" rows="5" ng-model="task.content" >
      </textarea>
    </div>
    <div class="form-group">
      <input class="form-control" name="date" bs-datepicker type="text" ng-model="task.scheduled" />
    </div>
    <div class="form-group">
      <input type="radio" name="Done" id="optionsRadios1" ng-model="task.done"> Todo
    </div>
    <div class="form-group">
      <input type="radio" name="Done" id="optionsRadios2"  ng-model="task.done"> Done
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">save</button>
        <button class="btn btn-danger" on-click="delete(task)">delete</button>
    </div>
  </form>
</div>
