<div class="ntaskform" ng-controller="TaskCtrl" ng-show="showtask">
  <form novalidate role="form" name="newtaskform" ng-submit="addTask(newtaskform)">
    <div class="form-group">
      <label for="tinput">Task Summary</label>
      <input type="text" required name="tinput" class="form-control" ng-model="taskSummary"  />
      <p ng-show="newtaskform.tinput.$invalid" class="help-block">Task Summary is required!</p>
    </div>
    <div class="form-group">
      <label for="tarea">Task Contents</label>
      <textarea class="form-control" required cols="30" id="tarea" name="tarea" rows="5" ng-model="taskContent"  /> </textarea>
<p ng-show="newtaskform.tarea.$invalid" class="help-block">Task Content is required!</p>
</div>
<div class="form-group">
  <i class="fa fa-calendar"> Scheduled</i>
  <input name="date" type="text" bs-datepicker ng-model="taskScheduled"  class="form-control" />
</div>
<div class="form-group">
  <button id="singlebutton"  class="btn btn-default">Save Task</button>
</div>
</form>
</div>
