<div class="container">
<div class="ntform" ng-controller="NewtaskCtrl">
  <div class="container">
    <h4 class="subformheader">New Task</h4>
    <form name="newtaskform" novalidate>
      <div class="form-group">
        <label for="">Task Summary</label>
        <input type="text" name="summary" class="form-control"
               ng-model="formData.summary" ng-focus="revealContent()"
               ng-minlength="3" required>
        <span ng-show="newtaskform.summary.$invalid && newtaskform.summary.$dirty"
              class="help-block">Please provide a Task Summary with at least 3 characters.</span>
      </div>
      <div class="tcontent" ng-hide="hideContent">
      <div class="form-group">
        <label for="">Task Content</label>
        <textarea name="content" class="form-control" ng-model="formData.content" rows="3" ></textarea>
        <span class="help-block"></span>
        <label>Scheduled Date (format: yyyy-mm-dd)</label><br/>
        <input type="text" pick-a-date="date" placeholder="Select Date"
               name="scheduled" pick-a-date-options="datepickeroptions"
               />

      </div>
      </div>
    </form>
  </div>
</div>
</div>
